extends ../layout

block toolbar
    md-toolbar(ng-controller="AdminController")
        div(class="md-toolbar-tools")
            h2
                span Admin Dashboard - {{section}}
            span(flex)
            md-button(class="md-raised", aria-label="Learn More", ng-click="logout()") Logout
block content
    div(id="md-content", ng-view)
