extends ../layout

block toolbar-admin
    md-toolbar(md-whiteframe="3")
        div(class="md-toolbar-tools")
            h2
                span Admin - {{section}}
            span(flex)
            md-button(class="md-raised", aria-label="Learn More", ng-click="logout()") Logout
    mr-controller(ng-controller="NavbarAdminController")
        md-nav-bar(md-selected-nav-item="currentNavItem", nav-bar-aria-label="navigation links")
            md-nav-item(md-nav-href="#dashboard", name="dashboard") Dashboard
            md-nav-item(md-nav-href="#users", name="users") Users
block content-admin
    div(id="md-content", class="md-padding", ng-view)