extends layout

block toolbar
    md-toolbar
        div(class="md-toolbar-tools")
            md-button(aria-label="Go Back") Go Back
            h2
                span Toolbar with Standard Buttons
            span(flex)
            md-button(class="md-raised",aria-label="Learn More") Learn More
            md-button(class="md-fab md-mini", aria-label="Favorite")
                md-icon(md-svg-icon="img/icons/favorite.svg")