extends layout

block content
    div(ng-controller="AdminController" layout="column", ng-cloak)
        md-content(layout-padding, flex-gt-sm, class="margin-10")
            h1(class="md-display-3 julius-sans-one") Bacco CMS
            form(name="userForm", class="md-whiteframe-3dp")
                div(layout-gt-lg="row")
                    md-input-container(class="md-block", flex-gt-sm)
                        label Email
                        input(required name="email", ng-model="user.email")
                        div(class="hint", ng-if="showHints") Email
                        div(ng-messages="userForm.name.$error")
                            div(ng-message="required") Email is required.

                    div(flex="5", hide-xs, hide-sm)

                    md-input-container(class="md-block", flex-gt-sm)
                        label Password
                        input(type="password", name="password", required, ng-model="user.password")
                        div(ng-messages="userForm.password.$error")
                            div(ng-message="required") Password is required.

                    div
                        md-button(type="submit", class="md-raised md-primary", ng-click='login(user)') Submit