<md-content class="md-padding" layout="row" id="{{$ctrl.id}}">
    <div flex-xs flex-gt-xs="70" layout="column">
        <div flex>
            <form method="post">
                <md-card md-theme="default" class="md-padding" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <input name="page_title" class="md-headline" type="text" value="{{$ctrl.page.title}}">
                            <span class="md-subhead">slug: {{$ctrl.page.slug}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="column" layout-align="space-between">
                        <textarea ui-tinymce="$ctrl.tinymceOptions" ng-model="$ctrl.tinymceModel"></textarea>
                    </md-card-content>
                </md-card>
            </form>
        </div>
        <div flex>
            <form method="post">
                <md-card md-theme="default" class="md-padding" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <input name="page_title" class="md-headline" type="text" value="{{$ctrl.page.title}}">
                            <span class="md-subhead">slug: {{$ctrl.page.slug}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="column" layout-align="space-between">
                        <textarea ui-tinymce="$ctrl.tinymceOptions" ng-model="$ctrl.tinymceModel"></textarea>
                    </md-card-content>
                </md-card>
            </form>
        </div>
    </div>

    <div flex-xs flex-gt-xs="30" layout="column">
        <div flex>
            <md-card md-theme="default" class="md-padding" md-theme-watch>
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title">Preview image</span>
                    </md-card-header-text>
                </md-card-header>
                <img ng-src="{{$ctrl.page.preview_image}}" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Card header</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as
                        well...
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Settings">
                        <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                        <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>

        <div flex>
            <md-card md-theme="default" class="md-padding" md-theme-watch>
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title">Preview image</span>
                    </md-card-header-text>
                </md-card-header>
                <img ng-src="{{$ctrl.page.preview_image}}" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Card header</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as
                        well...
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Settings">
                        <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                        <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</md-content>