<md-content class="md-padding" id="{{id}}">
    <div layout="row">
        <div flex>
            <form method="post" name="page_{{id}}">
                <md-card md-theme="default" class="md-padding" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-subhead">Title</span>
                            <input name="page_title" class="md-headline" type="text" value="{{page.title}}">
                            <span class="md-subhead">Slug</span>
                            <input name="page_slug" class="md-headline" type="text" value="{{page.slug}}">
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="column" layout-align="space-between">
                        <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
                    </md-card-content>

                    <!-- actions -->
                    <md-card-actions layout="row" layout-align="left center">
                        <md-button class="md-icon-button" aria-label="Favorite">
                            <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Settings" ng-click="showMenu()">
                            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Share">
                            <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                        </md-button>
                    </md-card-actions>

                </md-card>
            </form>
        </div>
</md-content>